/* Residential form */
#residential-form {
    background: transparent url('images/banner.jpg') no-repeat scroll top center;
    height: 457px;
    margin-bottom: 29px;
}
#residential-form form {
	float: right;
	margin-top: 20px;
	width: 241px;
}
#residential-form > div { 
	margin: 0 auto;
	width: 1000px;
}
#residential-form > div > div {
	color: #fff;
	float: left;
	text-align: center;
	width: 759px;
}
#residential-form h1 {
	font: normal normal normal 51px CaslonTwoTwentyFour-Book, Arial, Helvetica, sans-serif;
	letter-spacing: 2px;
	line-height: 64px;
	margin: 59px 0 20px 0;
	text-transform: uppercase;
	-webkit-font-smoothing: antialiased;
}
#residential-form p {
	font-size: 25px;
	line-height: 30px;
	margin-bottom: 30px;
}
body#residential .values-unit {
	float: left;
	margin-top: 5px;
	width: 333px;
}
body#residential #values-unit-1 > div { margin-right: 53px; }
body#residential #values-unit-3 > div { margin-left: 53px; }
#residential-photos {
	clear: left;
	height: 360px;
}
#residential-photos img {
	float: left;
	margin: 68px 0 0 11px;
}
#residential-photos img:first-child { margin-left: 0 }
body#residential #push { height: 332px; }
.h2-div { font-size: 36px; }